:root {
    --cor-titulo: #CF9A30;
    --cor-paragrafo-black: #000000e5;
    --cor-paragrafo-white: #ffffffe5;

    --cor-padrao-black: #000000;
    --cor-padrao-white: #ffffff;

    --cor-card: #CF9A30;
    --cor-bottons: linear-gradient(#A1672A, #CF9A30);

    --cor-form: #FFF1D9;
    --cor-form-field: #FFE4B2;

    --font-title: 'Alfa Slab One', sans-serif;
    --font-body: 'Rubik', sans-serif;
}

/* GERAL */

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: var(--font-title);
    font-size: 40px;
    color: var(--cor-titulo);
}

p {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background: var(--cor-bottons);
    color: var(--cor-paragrafo-white);
    font-weight: 500;
    border-radius: 8px;
}

/* Seção 01 O QUE É O GARIMPO */

.about-mining {
    padding: 64px 30px;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.about-mining-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.about-mining-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-mining-card {
    width: 380px;
    height: 145px;
    padding: 32px 52px;
    background-color: var(--cor-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
}

.about-mining-card > p {
    color: var(--cor-paragrafo-white);
}

/* Fim Seção 01 */

/* Seção 02 - COMO ESSA ATIVIDADE É FEITA */

.mining-process {
    padding: 64px 30px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.mining-process-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.mining-process-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mining-process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.step-number {
    width: 80px;
    height: 80px;
    background-color: var(--cor-card);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.step-number > p {
    font-family: var(--font-title);
    font-size: 40px;
    color: var(--cor-padrao-white);
}

.step-text {
    width: 280px;
    height: 57px;
    display: flex;
    border: 4px solid var(--cor-card);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

/* Fim Seção 02 */

/* Seção 08 - CANAIS DE DENÚNCIA */

.report-channel {
    padding: 64px 30px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.report-channel-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.report-channel-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.report-channel-card {
    width: 380px;
    padding: 28px;
    border: 4px solid var(--cor-card);
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    border-radius: 8px;
}


.report-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.report-card-logo {
    width: 80px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.report-card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.report-card-text > h3 {
    font-size: 24px;
    font-weight: 600;
}

/* Fim Seção 08 */

/* Seção 11 - CONTATO */

.contact {
    padding: 64px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.contact-title {
    text-align: center;
}

.contact-logo {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/protesto-munduruku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px 0px;
}

.contact-form-content {
    padding: 36px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-form);
    border-radius: 0px 0px 16px 16px;
}

.contact-field-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-form-field {
    padding: 12px;
    background-color: var(--cor-form-field);
    border-radius: 10px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

#message {
    height: 200px;
}


/* ====== MEDIA QUERY DESKTOP ======*/

@media (min-width: 1280px) {
    .about-mining {
        padding: 64px 166px;
    }

    .about-mining-cards {
        flex-direction: row;
        justify-content: center;
    }

    .mining-process {
        padding: 64px 166px;
    }

    .report-channel {
        padding: 64px 166px;
    }

    .report-channel-cards {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .report-channel-card {
        width: 380px;
    }

    .contact {
        padding: 64px 166px;
    }

    .contact-logo {
        width: 330px;
        height: 480px;
        border-radius: 16px 0px 0px 16px;
    }

    .contact-form {
        width: 980px;
        display: flex;
        flex-direction: row;
    }

    .contact-form-content {
        border-radius: 0px 16px 16px 0px;
    }
}

/* ====== MEDIA QUERY TABLET ======*/

@media (min-width: 768px) {
    .about-mining-cards {
        flex-direction: row;
    }

    .about-mining-cards {
        flex-wrap: wrap;
    }

    .about-mining-card {
        align-items: center;
        justify-content: center;
    }

    .contact-logo {
        width: 674px;
    }

    .contact-form-content {
        width: 674px;
    }
}